<AuthorizeView>
    @page "/addstock"
    @using FPProjectStudentSuccess.Entities;

    @inject FPProjectStudentSuccessBSA.Service.ProductService PdtSrv

    <h3>Add Stock</h3>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="inputName" @bind="name">
        </div>
        <div class="col-md-6">
            <label for="inputPublisher" class="form-label">Publisher</label>
            <input type="text" class="form-control" id="inputPublisher" @bind="publisher">
        </div>
        <div class="col-md-6">
            <label for="inputPlataform" class="form-label">Plataform</label>
            <div>
                <label>
                    <input type="radio" value="PC" name="plataform" aria-label="PC" id="PC" @onclick="@(()=>plataform = "PC")"/> PC
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="XBox" name="plataform" aria-label="XBOX" id="XBOX" @onclick="@(()=>plataform = "XBOX")"/> XBOX
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="PS5" name="plataform" aria-label="PS5" id="PS5" @onclick="@(()=>plataform = "PS5")"/> PS5
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="Switch" name="plataform" aria-label="Switch" id="SWITCH" @onclick="@(()=>plataform = "Switch")"/> Switch
                </label>
            </div>
        </div>
        <div class="col-12">
            <label for="inputQuantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="inputQuantity" @bind="quantity">
        </div>
        <div class="col-md-6">
            <label for="inputYear" class="form-label">Year</label>
            <input type="number" class="form-control" id="inputYear" min="1900" max="2022" @bind="year">
        </div>
        <div class="col-md-6">
            <label for="inputPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="inputPrice" min="0.00" max="10000.00" step="0.01" @bind="price">
        </div>
        <div class="col-md-6">
        </div>
        <br />
        <div class="col-12">
            <button type="submit" class="btn btn-primary" @onclick="SubmitData">Add Stock</button>
        </div>
    </form>
    <br />
</AuthorizeView>

@code {
    string name = "";
    string publisher = "";
    string plataform = "";
    int quantity = 0;
    int year = 2022;
    decimal price = 0;
    int plataformId = 0;
    int shelfId = 0;

    protected async Task SubmitData()
    {
        switch (plataform)
        {
            case "PC":
                plataformId = 3;
                shelfId = 2;
                break;

            case "XBOX":
                //plataformId = 4;
                //shelfId = 3;
                break;

            case "PS5":
                //plataformId = 5;
                //shelfId = 4;
                break;

            case "Switch":
                //plataformId = 6;
                //shelfId = 5;
                break;
                //TODO: Check logic after IGDB.
        }

        Product pdt = new Product();
        
        pdt.Name = name;
        pdt.Publisher = publisher;
        pdt.PlataformId = plataformId;
        pdt.Quantity = quantity;
        pdt.Year = year;
        pdt.Price = price;
        pdt.ShelfId = shelfId;

        await PdtSrv.InsertProductAsync(pdt);
    }
}
